:root {
  --primary: #ff4b2b;
  --dark: #333;
  --light: #f4f4f4;
  --accent: #3a34b4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: rgb(231, 219, 219);
  color: var(--dark);
}

header {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

nav {
  position: relative;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
  transition: background 0.3s;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle div {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    flex-direction: column;
    width: 200px;
    display: none;
    padding: 10px 0;
    border-radius: 5px;
  }

  nav ul.show {
    display: flex;
  }

  nav ul li {
    text-align: right;
    padding: 10px 20px;
  }
}

/* nav a:hover {
  text-decoration: underline;
} */

section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

.hero {
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero p {
  margin: 10px 0;
  font-size: 1.2rem;
}

.skills,
.portfolio,
.contact {
  background: var(--light);
  gap: 30px;
}

.skills,
.portfolio,
.contact {
  max-width: 100%;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
}

.card ul a {
  margin-left: 20px;
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

}


footer {
  background-color: var(--dark);
  color: white;
  text-align: center;
  padding: 20px;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  background: var(--accent);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background: var(--primary);
}